APP_ENVIRONMENT=production
APP_APPLICATION__BASE_URL=https://151-246-182-63.sslip.io
APP_APPLICATION__HMAC_SECRET=replace-with-a-long-random-secret

APP_DATABASE__HOST=postgres
APP_DATABASE__PORT=5432
APP_DATABASE__USERNAME=zero2prod
APP_DATABASE__PASSWORD=replace-with-a-long-random-password
APP_DATABASE__DATABASE_NAME=newsletter
APP_DATABASE__REQUIRE_SSL=false

APP_REDIS_URI=redis://redis:6379

APP_EMAIL_CLIENT__BASE_URL=https://api.postmarkapp.com
APP_EMAIL_CLIENT__SENDER_EMAIL=newsletter@nickchursin.com
APP_EMAIL_CLIENT__AUTHORIZATION_TOKEN=replace-with-your-postmark-token
APP_EMAIL_CLIENT__TIMEOUT_MILLISECONDS=10000

RUST_LOG=info
